[submodule "Frameworks/Kiwi"]
	path = Frameworks/Kiwi
	url = https://github.com/allending/Kiwi.git
[submodule "Frameworks/MagicalRecord"]
	path = Frameworks/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
